{% load static %} {% block content %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'tasks/style/index.css' %}" />
  </head>
  <body>
    <div class="login-container">
      {% if messages %}
      <div class="django-error">
        {% for message in messages %}
        <a>{{ message }}</a>
        {% endfor %}
      </div>
      {% endif %}
      <h1>To-do List</h1>
      <p class="subtitle">Faça login para acessar sua lista</p>
      <form id="formLogin" method="POST">
        {% csrf_token %}
        <label for="login">Login:</label>
        <input
          name="login"
          id="login"
          placeholder="Digite seu e-mail ou nome de usuário"
          required
        />
        <label for="pswd">Senha:</label>
        <input
          name="pswd"
          type="password"
          id="pswd"
          placeholder="Digite sua senha"
          required
        />
        <button type="submit">Entrar</button>
      </form>
      <p class="cadastro">
        Não tem uma conta? <a href="signup">Cadastre-se</a>
      </p>
    </div>
  </body>
</html>

{% endblock %}
